.container {
    display: grid;
    grid-template-columns: 50fr;
    border: solid #e03d3d;
}
#gridBackground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35vh;
    background-image: url(../img/img-profile/profileBG.jpg)
}

#gridForm {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 55px;
}
#gridLabels {
    display: grid;
    grid-template-columns:  1fr 1fr;
}
#gridPersonal {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}
#gridSelect {
    display: grid;
    grid-template-columns: 20fr 70fr;
}
#gridOption {
    display: grid;
    grid-template-columns:100fr;
}
#gridProfile {
    display: grid;
    grid-template-columns: 10fr 10fr 80fr;
}
#gridLocations {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
#gridAdd {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}
#griCreator {
    display: grid;
    grid-template-columns: 10fr 10fr 90fr;
    margin-top: 15px;
}
#gridText {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}
#gridCheck {
    display: grid;
    grid-template-columns: 5fr 5fr 90fr;
    margin-top: 5px;
}
#gridIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}
#gridCategories {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}
#gridImage {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr; 
    grid-gap: 10px;
}
.gridColaborator {
    display: grid;
    grid-template-columns: 10fr 10fr 80fr;
    grid-template-rows:  35px;
    grid-gap: 15px;
    padding: 3px;
    margin-top:10px;
    border-bottom: solid  rgb(170, 168, 168);
    border-top: solid  rgb(170, 168, 168);
}
.pStatus {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 8;
}
p {
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.txtL {
    font-size: 15px;
}
.inputFname {
    width:98%;
    height: 30px;
}
.inputLname {
    width: 100%;
    height: 30px;
}
.inputP {
    width:-webkit-fill-available;
    height: 35px;
}

.select {
    width:-webkit-fill-available;
    height: 35px;
}
.btn {
    border-radius: 5px;
}
.btnSave {
    padding-left: 90%;
}
.buttonSave{
    background: #78eb0d;
    color: #ffffff;
    width: 70%;
    padding: 7px;
}
.inputTitle {
    width: 100%;
    height: 20px; 
    margin-top: 10px;
}
.input {
    padding-right: 18px;
}
.inputDescription{
    width: 100%;
    height: 80px;
    margin-top: 10px;
}
.iptC {
    margin-top: 5px;
    padding-right: 10px;
    padding: 2px;

}
.inputC {
    width:-webkit-fill-available;
    padding: 5px;
}
.celr {
   
}
.cel {
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

.tags-input {
    border: 1px solid #333;
    display: inline-block;
}

.tags-input .tag {
    font-size: 85%;
    padding: 3px;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(-1.2);
    margin-left: 0.70em;
    -webkit-appearance: none;
   -moz-appearance: none;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
}

.txtPersonal {
    width:-webkit-fill-available;
    padding: 20px
}
.btnfile {
    padding: 50px;
    background-color: #631919;
}

.margin {
    margin-top: 20px;
}
.marginOption {
    margin-top: 10px;
}

#name {
    align-self: center;
    font-weight: bold;
}
.check {
    border: 20px;
    width: 20px;
    height: 20px;
}
.imgCenter {
    justify-self: center;
}
.colaborator {
    align-self: center;
}
.add {
    align-self: center;
}
.titleCreator {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4
}
.gridTitleadd {
    display: grid;
    grid-template-rows: 35px;
    border-bottom: solid rgb(170, 168, 168);
}
.titleAdd {
    align-self: center;
}
.addDesc{
    margin-top: 20px;
}
.imgCreator{
    margin-top: 15px;
}
.hrefAdd {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    color: rgb(27, 212, 245);
}

input[type=checkbox]:checked {
    background-color: #064bb3;
}
input[type=checkbox i] {
    background-color: #d1cdcd;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0 5px;
    padding: 10px;
    border:solid 1px #c7c6c6 ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
}
.imgBackgraound {
    position: fixed;
    margin-top: 11%;
    margin-left: 30px;
}
.labelYes {
    padding-left: 28px
}